* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  overflow: auto;
  margin: 0;
}
.container {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  color: white;
  margin: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  flex: 0.5;
  cursor: pointer;
  position: relative;
  transition: flex 0.7s ease-in;
  -webkit-transition: flex 0.7s ease-in;
  -moz-transition: flex 0.7s ease-in;
  -ms-transition: flex 0.7s ease-in;
  -o-transition: flex 0.7s ease-in;
}
.panel h3 {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 24px;
  margin: 0;
  opacity: 0;
  transition: 0.2s all 0.2s ease-in;
  -webkit-transition: 0.2s all 0.2s ease-in;
  -moz-transition: 0.2s all 0.2s ease-in;
  -ms-transition: 0.2s all 0.2s ease-in;
  -o-transition: 0.2s all 0.2s ease-in;
}
.panel.active {
  flex: 5;
}
.panel.active h3 {
  opacity: 1;
}
@media (max-width: 600px) {
  .panel:nth-last-of-type(4), .panel:nth-last-of-type(5){
    display: none;
    
  }
  .container{
    width: 100vw;
  }

}